.container {
    height: 96vh;
    background-color: #efefef;
    display: flex;
}

.content {
    background-color: lightcoral;
    width: 40%;
    height: 50%;
    text-align: center;
    margin: 200px auto;
}

.input label {
    font-size: 24px;
}

.input input {
    font-size: 20px;
}

li {
    list-style: none;
}
