.container {
    height: 96vh;
    background-color: #efefef;
    display: flex;
}

.content {
    background-color: lightcoral;
    width: 40%;
    height: 45%;
    text-align: center;
    margin: 200px auto;
}

.title {
    margin-top: 38px;
}

li {
    list-style: none;
}
